* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

.futura-bt.bold {
    font-family: 'Futura Md BT Bold';
}

/* ---- ---- */ 
/* INPUT FIELD */
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/* BUTTON */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
/* ---- ---- */ 

/* CONTAINER */

.main {
  width: 100%;
  margin: 0 auto;
}

.container-main {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #072351;
  
}

.wrap-main {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 95px;
}

#menu-option {
    display: block;
}

.selected {
    display: block;
}

/* ADDITION */
table, th, td {
  border: 1px solid black !important;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .wrap-main {
    padding: 177px 90px 33px 85px;
  }
}

@media (max-width: 768px) {
  .wrap-main {
    padding: 100px 80px 33px 80px;
  }
}

@media (max-width: 576px) {
  .wrap-main {
    padding: 100px 15px 33px 15px;
  }
}