<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/modal.css">
</head>
<body>
    <%- include header.ejs%>
    <div class="main">
        <div class="container-main">
            <div class="wrap-main">

                <div class="content">
                    <h1 class="futura-bt bold">Item</h1>
                    <div class="menu">
                        <div id="item">
                            <!-- TABEL Item -->
                            <table id="table-item" class="table data-table table-hover">
                                <thead class="thead-color">
                                <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Price</th>
                                  <th>Tenant</th>
                                  <th>Stock</th>
                                  <th>Max Stock</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="button">
                        <button id="new-button" class="menu-button">New</button>
                        <button id="edit-button" class="menu-button">Edit</button>
                    </div>
                </div>

                <!-- The EDIT Modal -->
                <div id="editModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close-edit">&times;</span>

                    <h1 class="futura-bt bold">Edit Data</h1>
                    <div id="item-stock"></div>
                    <div id="item-max-stock"></div>
                    <form class="content display-form" action="">
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Add stock</label>
                            </div>
                            <div class="col-3">
                                <input id="add-istock" type="text" name="edit-name" autocomplete="off">
                            </div>
                        </div>
                        <button id="add-button" style="margin-left: 10px" type="submit">Change</button>
                        <br>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Reduce Stock</label>
                            </div>
                            <div class="col-3">
                                <input id="reduce-stock" type="text" name="edit-price" autocomplete="off">
                            </div>
                        </div>
                        <button id="reduce-button" style="margin-left: 10px" type="submit">Change</button>
                    </form>
                    </div>
                </div>

                <!-- The ADD Modal -->
                <div id="addModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close-add">&times;</span>

                    <h1 class="futura-bt bold">Add Data</h1>
                    <form class="content display-form" action="">
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Name</label>
                            </div>
                            <div class="col-3">
                                <input id="add-name" type="text" name="add-name" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Price</label>
                            </div>
                            <div class="col-3">
                                <input id="add-price" type="text" name="add-price" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Tenant</label>
                            </div>
                            <div class="col-3">
                                <input id="add-tenant" type="text" name="add-tenant" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Stock</label>
                            </div>
                            <div class="col-3">
                                <input id="add-stock" type="text" name="add-stock" autocomplete="off">
                            </div>
                        </div>
                    </form>

                    <div>
                        <button id="save-button" type="submit">Save</button>
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- #region datatables files -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- #endregion -->
    <script src="/static/item.js"></script>
</body>
</html>
