<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
</head>
<body>
    <div class="topnav">
        <a href="index.html">User</a>
        <a href="tenant.html">Tenant</a>
        <a class="active" href="item.html">Item</a>
        <a href="transaction.html">Transaction</a>
      </div>

<div class="main">
    <div class="container-main">
        <div class="wrap-main">

            <div class="content">
                <h1 class="futura-bt bold">Item</h1>
                <div class="menu">
                    <div id="item">
                        <!-- TABEL Item -->
                        <table id="table-item" class="table data-table table-hover">
                            <thead class="thead-color">
                            <tr>
                              <th>Name</th>
                              <th>Price</th> 
                              <th>Tenant</th>
                              <th>Stock</th>
                              <th>Max Stock</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>2321321</td>
                                <td>100</td>
                                <td>ok</td> 
                                <td>100</td>
                                <td>ok</td> 
                                </tr>
                                <tr>
                                <td>2123234</td>
                                <td>200</td> 
                                <td>sasa</td>
                                <td>200</td> 
                                <td>sasa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="button">
                    <button id="new-button" class="add-button">New</button>
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="dashboard.js"></script> 
</body>
</html>
