<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

<div class="login">
		<div class="container-login">
			<div class="wrap-login">
				<div class="login-logo">
					<img src="https://static.arkavidia.id/5/images/logo.svg" alt="IMG">
				</div>

                <div>
                    <form class="login-form">
                        <span class="login-form-title futura-bt bold">
                            ITFEST ARKAVIDIA 5.0
                        </span>

                        <div class="wrap-input">
                            <input class="input" type="text" name="username" placeholder="Username">
                        </div>

                        <div class="wrap-input">
                            <input class="input" type="password" name="pass" placeholder="Password">
                        </div>
                        
                        <div class="container-login-form-btn">
                            <button class="login-form-btn">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</body>
</html>
