<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>

<div class="login">
    <div class="container-login">
        <div class="login-logo">
            <img src="https://static.arkavidia.id/5/images/logo.svg" alt="IMG">
            <div class="login-logo-text futura-bt bold">
                ARKAVIDIA 5.0
            </div>
        </div>

        <div class="wrap-login">
            <form class="login-form" method="post" >
                <span class="login-form-title futura-bt bold">
                    ITFEST ADMIN
                </span>

                <div class="wrap-input">
                    <input class="input futura-bt bold" type="text" name="username" placeholder="Username">
                </div>

                <div class="wrap-input">
                    <input class="input futura-bt bold" type="password" name="password" placeholder="Password">
                </div>

                <div class="container-login-form-btn">
                    <button class="login-form-btn futura-bt bold">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
