<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/modal.css">
</head>
<body>
    <%- include header.ejs %>

    <div class="main">
        <div class="container-main">
            <div class="wrap-main">

                <div class="content">
                    <h1 class="futura-bt bold">Tenant</h1>
                    <div class="menu">
                        <div id="tenant">
                            <!-- TABEL Tenant -->
                            <table id="table-tenant" class="table data-table table-hover">
                                <thead class="thead-color">
                                <tr>
                                    <th>Name</th>
                                    <th>Detail Name</th>
                                    <th>Point</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="button">
                            <button id="new-button" class="menu-button">New</button>
                            <!--<button id="edit-button" class="menu-button">Edit</button>-->
                    </div>
                </div>

                <!-- The EDIT Modal -->
                <div id="editModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close-edit">&times;</span>

                    <h1 class="futura-bt bold">Edit Data</h1>
                    <form class="content display-form" action="">
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Name</label>
                            </div>
                            <div class="col-3">
                                <input id="edit-name" type="text" name="edit-name" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Detail Name</label>
                            </div>
                            <div class="col-3">
                                <input id="edit-detail" type="text" name="edit-detail" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Point</label>
                            </div>
                            <div class="col-3">
                                <input id="edit-point" type="text" name="edit-point" autocomplete="off">
                            </div>
                        </div>
                    </form>

                    <div>
                        <button id="change-button" type="submit">Change</button>
                    </div>

                    </div>
                </div>

                <!-- The ADD Modal -->
                <div id="addModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close-add">&times;</span>

                    <h1 class="futura-bt bold">Add Data</h1>
                    <form class="content display-form" action="">
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Name</label>
                            </div>
                            <div class="col-3">
                                <input id="add-name" type="text" name="add-name" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Name Detail</label>
                            </div>
                            <div class="col-3">
                                <input id="add-detail" type="text" name="add-detail" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Point</label>
                            </div>
                            <div class="col-3">
                                <input id="add-point" type="text" name="add-point" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group display-field">
                            <div class="col-2">
                                <label>Password</label>
                            </div>
                            <div class="col-3">
                                <input id="add-password" type="password" name="add-point" autocomplete="off">
                            </div>
                        </div>
                    </form>

                    <div>
                        <button id="save-button" type="submit">Save</button>
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- #region datatables files -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- #endregion -->
    <script src="/static/tenant.js"></script>
</body>
</html>
