<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
</head>
<body>

    <%- include header.ejs%>
    <div class="main">
    <div class="container-main">
        <div class="wrap-main">

            <div class="content">
                <h1 class="futura-bt bold">Transaction</h1>
                <div class="menu">
                    <div id="transaction">
                        <!-- TABEL Transaction -->
                        <table id="table-transaction" class="table data-table table-hover">
                            <thead class="thead-color">
                                <tr>
                                    <th>Transaction</th>
                                    <th>Hehehehhe ._.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2321321</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>2123234</td>
                                    <td>200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>
