<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://static.arkavidia.id/5/fonts/FuturaBT/style.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
</head>
<body>
    <div class="topnav">
        <a href="index.html">User</a>
        <a href="tenant.html">Tenant</a>
        <a href="item.html">Item</a>
        <a class="active" href="transaction.html">Transaction</a>
      </div>

<div class="main">
    <div class="container-main">
        <div class="wrap-main">

            <div class="content">
                <h1 class="futura-bt bold">Transaction</h1>
                <div class="menu">
                    <div id="transaction">
                        <!-- TABEL Transaction -->
                        <table id="table-transaction">
                            <tr>
                              <th>User ID</th>
                              <th>Point</th> 
                            </tr>
                            <tr>
                              <td>2321321</td>
                              <td>100</td> 
                            </tr>
                            <tr>
                              <td>2123234</td>
                              <td>200</td> 
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="button">
                    <button id="new-button" class="add-button">New</button>
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="dashboard.js"></script> 
</body>
</html>
